<head>
<style>
.about{
    color:black;
font-size:large;
}

body {
background-color:rgba(140, 216, 0, 0.521);

}
h3

{

color:rgb(0, 0, 0);
text-decoration: underline;
}

p

{
    color:rgb(0, 0, 0);
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(18, 44, 0, 0.795);
}

ol {
  float: left;
}

ol a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ol a:hover {
  background-color: rgb(0, 0, 0);
}
  
</head>
</style>